<head>
  <title>Tasks</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<style>
  body {
    font-size: 13;
  }

  .btn {
    text-align: center;
    margin: 15px auto;
    display: flow;
    width: min-content;
    color: var(--coral);
    border-color: var(--coral)
  }

  .btn:hover {
    background-color: var(--coral);
    color: white;
  }

  .single-note,
  .single-task {
    display: flex;
    gap: 10px;
    border: 2px solid var(--coral);
    padding: 8px;
    border-radius: 8px;
    margin: 10px;

  }

  .task {
    overflow: hidden;
  }

  .text {
    margin-right: auto;
  }
</style>
<a class="btn" href="/task/new/<%= id %>/<%= projectId %>">+</a>
<% tasks.forEach(task=> { %>
<a class="single-<%= task.type %>" href='/task/<%= task.id %>/<%= id %>/<%= projectId %>'>
  <% if (task.type==='task' ) { %>
  <input type="checkbox" <%= task.completed_by ? 'checked' : '' %>>
  <% } %>
  <span class="text">
    <%= task.task_description %>
  </span>
  <% if (task.type==='task' ) { %>
  <span>
    <%= task.due_date %>
  </span>
  <% } %>
</a>
<% }); %>